/*algemeen*/
body {
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style: none;
    float: left;
}

h1, h2, h3, .card-title {
    font-family: 'Russo One', sans-serif;
    color: #991919;
}

.postcontent h3 {
    color: #991919;
}

.page-content h3 {
    color: #000;
}

.btn{
    background-color: #991919;
    color: #FFF;
    width: 100%;
}

a {
    color: #991919;
    text-decoration: none;
}
a:hover {
    color: #ccc;
    text-decoration: none;
}

/*header*/

.logo img {
    width: 80px;
    height: auto;
    float: left;
    margin-top: -30px;
}
.headerfoto{
    width: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 30px;
}
.navbar{
    width: 100%;
    background-color: rgb(153, 25, 25);
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    opacity: 0.95;
    z-index: 999;
}
.navbar li{
    padding:0;
    display: inline-block;
}
.navbar li a {
    display: block;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.navbar a{
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
}
.navbar li:hover a{
    text-decoration: none;
    color: #ccc;
}

/* Blog */

.content h2 {
    color: #991919;
}

.date {
    color: #ccc;
    font-size: 10px;
    text-transform: uppercase;
}

.bewerkpost {
    float: right;
}

.page-numbers {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #F3F3F3;
}

.current {
    color: #ccc;
}

/*Comments*/
.submit {
    background-color: #991919;
    color: #FFF;
    border: 0;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.submit:hover {
    color: #000;
    background-color: #ccc;
}

#commentstitel {
    color: #000;
}

/* Sidebar */

#recent-posts-3 h3 {
    color: #000;
}

/* Contact */

.wpcf7-submit {
    background-color: #991919;
    color: #FFF;
    border: 0;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

/*4O4*/
.content-area {
    margin: auto;
    text-align: center;
}



/*front-page*/

.card a img {
    max-width: 100%;
    height: auto;
}

.card-footer a .btn {
    width: 100%;
}

/*footer*/

.footer {
    background-color: #991919;
    color: #FFF;
    margin-top: 15px;
    padding-top: 25px;
    opacity: 0.95;
}

.footer h1, h2, h3, h4 {
    color: #FFF;
}

.footer ul li a {
    text-decoration: none;
    color: #FFF;
    display: block;
}